

<div>
  <button id="btn">Scrape Now</button>
</div>

<div>
      <ul class="results">
      {{#each results}}
        <div class="articles">
          <button id="save"> Save</button>
          <button id="note"> Note</button>
          <li class="link"><a href="{{this.link}}">{{this.link}}</a></li>
          <li class="titles">{{this.titles}}</li>
          
        </div>
      {{/each}}
    </ul>
</div>