

<div>
  <button id="btn">Scrape Now</button>
</div>

<div>
      <ul class="results">
      {{#each results}}
        <ul>
          <li>{{this.titles}}</li>
          <li><a href="{{this.link}}">{{this.link}}</a></li>
        </ul>
        
      {{/each}}
    </ul>
</div>